{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="search">
     
    
    <div class="tabcontent" id="oneway">
		<h2>Search Flights</h2>
        <form action="/home" method="POST">
            <div class="out">
              <p>
                {{form.departDate.label}}<br>
                {{form.departDate(placeholder="e.g. 2020-5-29", size=30) }}
              </p>
              <p>
				{{form.origin.label}}
               <br>
                {{form.origin(placeholder="e.g. Cardiff Airport", size = 30) }}
              </p>
              <p>
                {{form.destination.label}}<br>
                {{form.destination(placeholder="e.g. Narita Airport", size = 30 ) }}

              </p>
              <p>
                {{form.submit}}
              </p>
            </div>
        </form>
    </div>
    

<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#origin_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
	
	$(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#dest_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>

    
</div>
   <!---
    <script>
    function openType(evt, type){
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(type).style.display = "block";
          evt.currentTarget.className += " active";
    }
        
    document.getElementById("oneway").click();
    </script>
--->




    

{%for quote in quotes%}
<div class = "QuoteCard">    
  <p>
    Flight Price:  {{quote.get("MinPrice")}}<br>
    Direct:        {{quote.get("Direct")}}<br>
    Value for Money: {{quote.get("valueForMoney")}}/5 <br>
    Airline(s): {{quote.get("airlineName")}}<br>
    Date of flight: {{quote.get("OutboundLeg").get("DepartureDate").replace("T00:00:00","")}}<br>
    Origin airport: {{quote.get("originName")}}<br>
    Destination airport: {{quote.get("destinationName")}}
    <br>
  </p>

</div>
{%endfor%}   

{% endblock content %}