{% extends "layout.html" %}
{% block content %}
<div itemscope="" itemtype="http://schema.org/Flight">
<div class="container">
    <div class="search">
       <h2>Search Flights..</h2>
       
    <div class="tab">
       <h2>Select Journey Type:</h2>
        <button class="tablinks" onclick="openType(event,'oneway')">One-Way</button>
        <button class="tablinks" onclick="openType(event,'return')">Return</button>
    </div>
    
    
    <div class="tabcontent" id="oneway">
       <h2>Search Flights...</h2>
		<form action="/" method="post">
            <div class="out">
				<div itemscope="" itemtype="https://schema.org/Trip">
                <label itemprop=" for="date_out">Date : </label>
                <input type="date" id="date_out">
				</div>
				<div itemprop="about" itemscope itemtype="http://schema.org/City" id="city">
				<label itemprop="origin">From : </label>
                <input type="text" id="origin">
                <label itemprop="destination">Destination : </label>
                <input type="text" id="destination">
                </div>
			</div>
        </form>
    </div>
    
    <div class="tabcontent" id="return">
        <form action="/" method="post">
            <div class="out_in">
			    <span itemtype="http://schema.org/Flight">
                <label itemprop="departureTime">Outbound Date: </label>
                <input type="date" id="date_out">
                <label for="date_in">Return : </label>
                <input type="date" id="date_in">
				<div itemprop="about" itemscope itemtype="http://schema.org/City" id="city">
                <label for="origin">From : </label>
                <input type="text" id="origin">
                <label for="destination">Destination : </label>
                <input type="text" id="destination">
				</div>
            </div>
        </form>
    </div>
    </div>

    
</div>
    <script>
    function openType(evt, type){
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(type).style.display = "block";
          evt.currentTarget.className += " active";
    }
        
    document.getElementById("oneway").click();
    </script>





    

{%for quote in quotes%}
<div class = "QuoteCard">    
  <p>
    Flight Price:  {{quote.get("MinPrice")}}<br>
    Direct:        {{quote.get("Direct")}}<br>
    Value for Money: {{quote.get("valueForMoney")}}/5 <br>
    Airline(s): {{quote.get("airlineName")}}<br>
    Date of flight: {{quote.get("OutboundLeg").get("DepartureDate").replace("T00:00:00","")}}<br>
    Origin airport: {{quote.get("originName")}}<br>
    Destination airport: {{quote.get("destinationName")}}
    <br>
    <hr>
  </p>

</div>
{%endfor%}   

{% endblock content %}