{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="search">
       <h2>Search Flights...</h2>


        <form action="/" method="post">
           <label for="date_departs">Date:</label>
           <input type="date" id="date_departs" name="date_departs"><br><br>

            <label for="from">From:</label>
            <input type="text" id="from" name="from"><br><br>

            <label for="to">To:</label>
            <input type="text" id="to" name="to"><br><br>

            <input type="submit" value="submit">
        </form>



    </div>

    {%for quote in quotes%}
    <div id = "QuoteCard">
      


      {%for quoteDetailKey, quoteDetailValue in quote.items()%}


        <p>{{  quoteDetailKey }} :  {{quoteDetailValue}} </p>
      

      {%endfor%}

      <br>
      <hr>
    </div>

    {%endfor%}





    
</div>
{% endblock content %}